body {
    background: #f6f6f4;
    color: #111111; 
}

nav {
    background: #facb37;
    color:#111111;
    border: 6px solid #111111;
}

header {
    background: #3153d1;
    color: #f6f6f4;
    border: 6px solid #111111;
}
img {
    width:420px;
    height: 260px;
    border: 6px solid #f6f6f4
}
h1 {
    color:#facb37
}
aside {
    background: #d83134;
    color: #f6f6f4;
    border: 6px solid #111111;
}

main {
    background: #f6f6f4;
    border: 6px solid #111111;
}
article {
    background: #f6f6f4;
    border: 3px solid #111111;
}
section {
    background: #facb37;
    border: 6px solid #d83134;
}
h2 {
    color:#d83134;
}
h3 {
    color: #3153d1;
}

footer {
    background: #111111;
    color: #f6f6f4;
    border: 6px solid #facb37;
    height: 260px;
}